{% extends "EVPOSaffectationBundle::base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
{% block content %}
<p>Désolé, mais le contenu n'a pas encore été défini...</p>
{% endblock%}
{% endblock %}
