{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Suivi de la migration MOCA{% endblock%}

{% block content %}
<h4>Liste des UO</h4>
    <ul>
        <li>...</li>
    </ul>
{%endblock%}
