<center>
<form action="{{path('evpos_cherche_uo')}}" method="post" {{ form_enctype(form) }}>
   <div class="row">
     <div class="col-md-10">{{ form_widget(form) }}</div>
     <div class="col-md-2">
       <input type="submit" value="ðŸ”" />
     </div>
   </div>
</form>
</center>
