<center>
<form action="{{path('evpos_cherche_uo')}}" method="post" {{ form_enctype(form) }}>
   {{ form_widget(form) }}
   <input type="submit" value="{{'app.find'|trans}}" class="glyphicon glyphicon-search" />
</form>
</center>
