{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Connexion utilisateur{% endblock%}

{% block content %}

  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Connexion</h3>
            </div>
            <div class="panel-body">
                <form action="{{ path('login_check') }}" method="post">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="username">Login :</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="password">Mot de passe :</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="password" id="password" name="_password" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                       <div class="col-lg-4"></div>
                        <div class="col-lg-8">
                            <input type="submit" value="Connexion" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
