{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}{{ 'silo.liste'|trans }}{% endblock%}

{% block content %}
<h4>{{ 'silo.liste'|trans }}</h4>
{{dump(tabSilo)}}
<table>
{% for uo, dir in tabSilo %}
<tr>
<td>{{uo}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
